body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 248, 248);
  
}
#main{
  width: 95%;
  margin: 20px auto;
  /* border: 1px solid black; */
  background-color: rgba(245, 235, 235, 0.89);
  min-height: 100vh;
}


#img-div{
  border: 1px solid black;
}
#img{
  border: 2px solid blue;
}